#movie_list {
  background-color: rgb(32, 32, 32);
  /* border: 1px solid red; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  width: 100%; 
  margin-left: -40px;
  display: inline-block;
  list-style-type: none;
}
#child1 {
  width: 90px;
  float: left;
}
#child2 {
  margin-top: 20px;
  width: 60%; 
  float: left; 
}
#child3 {
  width: 100px;
  float: left;
  margin-top: 30px;
}
#subchild1 {
  float: left;
}
#subchild2 {
  float: left;
  width: 40px;
  /* height: 22px; */
  display: inline;
  font-size: 15px;
  }
#subchild1 > img {
  width: 20px;
}
.bar {
  margin-left: 40px;
}

.product-item{
  color: yellow;
}
.product-item:hover{
  color: rgb(206, 206, 14);
}