body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(58, 58, 58);
  color: white;
}
#backgroundd {
  max-width: 1200px;
  margin: auto;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
}
